*
{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

@font-face {
  font-family: 'SangBleuRepublic-Regular-WebTrial';
  src: url('fonts/SangBleuRepublic-Regular-WebTrial.ttf');
}

body, html {
   font-family: 'SangBleuRepublic-Regular-WebTrial';
   /* max-width: 0px; */
   /* margin: 60px; */
   /* margin-top: auto; */
   /* margin-top: 150px; */
   /* padding: 0 0.5em; */
   font-size: 30px;
}

h1 {
  text-align: center;
  margin: 20px;
  font-size: 50px;
}

p {
  margin: 20px;
}

.title {
  text-align: center;
}

.A {
  margin-top: 15px;
  font-size: 30px;
}

.bar {
  width: 100%;
  height: 100px;
  background-color: white;
  position: fixed;
  border-bottom: solid black;
}

i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 15px;
  fo
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  position: fixed;

}

.footnotes {

}

.hidden {
  display: none;
  visibility: hidden;
}

#do-info {
  display: none;
  visibility: hidden;
}

#dm-info {
  display: none;
  visibility: hidden;
}

a {
  text-decoration: none;
  color: #000;
}

a:visited {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
  color: #000;
}

a:focus {
  text-decoration: none;
  color: #000;
}

a:hover,
.navBtn:active {
  text-decoration: none;
  color: #000;
}

.cube
     {
        /* width: 500px; */
        /* height: 150px; */
        position: relative;
        margin-top: 160px;
}

  .face {
  /* width: 300px; */
  /* height: 20px; */
  /* position: relative; */
  /* font-size: 20px; */
  /* text-align: center; */
  /* line-height: 20px; */
  /* margin-top: 200px; */
  /* background-color: #999999;
        box-shadow: inset 0 0 20px #333333;
        opacity: 0.6; */
}

.cube .one {

  transform: rotate(10deg);
  margin-left: 100px;
}

.cube .two {
  transform: rotate(-20deg);
  margin-top: 30px;
  margin-left: 130px;
}

.cube .three {
  transform: rotate(150deg);
  margin-right: 150px;
  margin-top: 80px;
  margin-bottom: -30px;

}

.cube .four {
  transform: rotate(-50deg);
  margin-left: 150px;
  margin-bottom: 0px;
}

.cube .five {
  transform: rotate(155deg);
  margin-top: 20px;
  margin-right: 150px;
  margin-bottom: -30px;
}

.cube .six {
  transform: rotate(30deg);
  margin-top: 130px;
  margin-left: 80px;
}

.cube .seven {
  transform: rotate(-190deg);
  margin-right: 110px;
  margin-bottom: -150px;

}

.cube .eight {
  transform: rotate(-100deg);
  margin-left: 200px;
}

.value {
  font-weight: bold;
}
